$font_color:#222B3A;
$black:#222B3A;
$orange:#FC890D;
$blue:#296DCE;
$light_blue:#1092CB;
$footer_colour:#0099DD;
$dark_blue:#222B3A;
$white:#ffffff;
$light_gray:#F3F3F3;
$thems_gray:#FAFAFA;
$gray:#979FAD;
$age_colour:#979FAD;
$dark_gray:#696969;
$number_theme:#E1E1E1;
$main_blue_bg:#56c3e0;
$dark_orange:#FFA43F;
$gray_bg_button:#DFDADA;
$red:#EB5757;
$light_gray_line:#F1F1F1;
$link_orange:#FF8A00;
$blue_text:#027EB4;
$activity_border:#EAEAEA;
$color_time:#BDBDBD;

.container{
    max-width: 1110px;
    margin: 0 auto;
    color: $font_color;
    font-size: 16px;
    padding: 0 10px;
}
header{    
    .main_menu{       
        background: $white;
        .content_menu{
            display: flex;
            justify-content: space-between;
            align-items: center; 
            line-height: 70px;
            nav{
                width: 50%;
                display: flex;
                justify-content: space-between;
                a{
                    font-family:'Proxima Nova Bold';
                    text-decoration: none;
                    color: $font_color;
                    font-size: 16px;                           
                    border-bottom: 2px solid transparent;
                    &:hover{
                        border-bottom: 2px solid $orange;
                    }
                    svg{
                        margin: 0 5px;
                    }

                }
               
            } 
            .mobile_menu{
                display: none;
                cursor: pointer; 
            } 
            .logo{
                img{
                    display: block;
                }
            } 
        }
        
    }
}