.target {
  border-bottom: 1px solid #E5E5E5;
  display: flex;
  justify-content: space-between;
  }

.target:last-child {
  border-bottom: none;
}

.target_left_flow_block {
  display: flex;
  justify-content: flex-start;
}

.module_targets_number_block {
  padding: 8px;
  display: flex;
  align-items: center;
}

.module-turgets-number {
  display: block;
  font: 600 1em  'proxima_regular', sans-serif;
  color: #323232;
  line-height: 1;
  width: 1em;
  height: 1em;
  background-color: #F3F3F3;
  text-align: center;
  padding: 0.2em 0;
  vertical-align: middle;
}

.module_turgets_text_block {
  padding: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.module-turgets-text {
  font: 600 1em  'proxima_regular', sans-serif;
  color: #323232;
  line-height: 1.2;
  text-align: left;
  padding: 0.8em 0.4em;
}

.module_turgets_checkbox_block {
  display: flex;
  align-items: center;
}

.module-turgets-checkbox label input {
  display: none;
}

.bg_gray {
  background: #FAFAFA;
}


.name_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.name_section .rotate {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.name_section .un_rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.name_section h2 {
  font-family: 'Proxima Nova Bold';
  font-size: 32px;
  line-height: 39px;
  color: #222B3A;
  position: relative;
  padding-left: 30px;
  overflow: hidden;
  width: 100%;
}

.name_section h2::before, .name_section h2::after {
  content: '';
  position: absolute;
  display: inline-block;
  border-width: 0 10px;
  vertical-align: middle;
  height: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-width: 0 100%;
  top: 0;
  bottom: 0;
  margin: auto;
}

.name_section h2::before {
  width: 22px;
  left: 0;
  border: 1px solid #222B3A;
}

.name_section h2::after {
  width: 100%;
  margin-left: 10px;
  border: 1px solid #F1F1F1;
}

.name_section img {
  margin-left: 10px;
  cursor: pointer;
}
.triang_black {
  display: block;
  
}
.section_content {
  display: block;
}
.section_content_hidden {
  display: none;
}
