eextends layout

block content
  h1= #{title}
  input(type='text' name='login' id='login')
  input(type='text' name='password' id='password')
  input(type='button' value='submit' id='button')
  script(src='javascripts/main.js') 