extends layout

block content
  h1= title
  
  #car
    input(type="text" placeholder="model" id='car_model' name='model')
    input(type="number" placeholder="price" id='car_price' name='price')
    
    button(type="submit" id='submit') Send  


  #model 
  #price
     
  script(src='javascripts/main.js') 