extends layout

block content
  h1= title
  p Welcome to #{title}
  h2 Books
  form(action='/api' method='post')
    input(type='text' name='book' placeholder='book name')
    input(type="submit" value="Submit")
  h2 Authors
  form(action='/api' method='post')
    input(type='text' name='author' placeholder='author name')
    input(type="submit" value="Submit")
  h2 Books and authors
  form(action='/api' method='post')
    input(type='text' name='book_comp' placeholder='book name')
    input(type='text' name='autho_comp' placeholder='author name')   
    input(type="submit" value="Submit")  