extends layout

block content
  h1= title
  p Welcome to #{title}
  h2 Registration
  form(action='/api' method='post')
    input(type='text' name='userEmail' placeholder='email')
    input(type='text' name='userName' placeholder='user name')
    input(type='text' name='userSurname' placeholder='user surname')
    input(type='text' name='userLogin' placeholder='login')
    input(type='text' name='phone' placeholder='phone')
    input(type='text' name='pwd' placeholder='password')
    input(type="submit" value="Registration")
  h2 Login
  form(action='/api' method='post')
    input(type='text' name='useremail' placeholder='email')
    input(type='text' name='userpwd' placeholder='password')
    input(type="submit" value="LogIn")
    
  