extends layout

block content
  h1= title
  p Welcome to #{title}
  h2 Registration
  form(action='/registr' method='post')
    input(type='text' name='login' placeholder='login')
    input(type='text' name='pwd' placeholder='pwd')
    input(type="submit" value="Registration")