.container {
    display: flex;
    flex-direction: row;
    width: 130px;
    border: 1px solid;
    margin-left: 70px;
    margin-top: 30px;
    border-radius: 2px;
    .count {
        display: block;
        padding: 14px 20px;
        margin: 0;
    }
    button {
        display: block;
        width: 100%;
    } 
}